<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="./css/login.css" />
<section class="ftco-section">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div
            class="img"
            style="background-image: url(./assets/imgs/levis-login-pic.jpg);"
          >
          </div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
              </div>
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a
                    href="#"
                    class="social-icon d-flex align-items-center justify-content-center"
                  ><span class="fa-brands fa-facebook"></span></a>
                  <a
                    href="#"
                    class="social-icon d-flex align-items-center justify-content-center"
                  ><span class="fa-brands fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <form action="" class="signin-form" id="loginForm">
              <div class="form-group mb-3">
                <label class="label" for="name">Username</label>
                <input
                  type="email"
                  id="form1Example13"
                  class="form-control form-control-lg"
                  name="email"
                />
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Password</label>
                <input
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg"
                  name="password"
                  autocomplete="on"
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg btn-block"
                >Sign in</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                    <input type="checkbox" checked="" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="/account/forgot-password">Forgot Password</a>
                </div>
              </div>
            </form>

            <p class="text-center">
              <a href="/api/sessions/github" id="sign-up-a">Sign In with GitHub</a>
            </p>

            <p class="text-center">Not a member?
              <a href="/register" id="sign-up-a">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>