<header class="container-fluid home-header">

</header>

<section class="container home-levis-allways">

</section>

<section class="container home-cards-to-products">
  <div class="home-card-container">
    <div
      class="home-card-img-container"
      style="background-image: url(./assets/imgs/boy-from-back.jpg);"
    >

      <div class="home-card-button">
        <a href="/products">MORE</a>
      </div>
    </div>
  </div>
  <div class="home-card-container">
    <div
      class="home-card-img-container"
      style="background-image: url(./assets/imgs/jeans-from-back.jpg);"
    >

      <div class="home-card-button">
        <a href="/products">MORE</a>
      </div>
    </div>
  </div>
  <div class="home-card-container">
    <div
      class="home-card-img-container"
      style="background-image: url(./assets/imgs/girl-from-back.jpg);"
    >

      <div class="home-card-button">
        <a href="/products">MORE</a>
      </div>
    </div>
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>